.bloco-depoimento {
  background-color: var(--roxo);
  padding: 83px 162px;
  border-radius: 10px;
  margin-bottom: 100px;

  &:hover {
    background-color: var(--amarelo-claro);
    transform: scale(1.05);
  }

  & > div {
    display: flex;
    align-items: center;
    & img {
      margin-right: 20px;
    }

    & h2 {
      font-size: var(--subtitulo-mobile);
      color: var(--cinza);
      font-weight: 100;
    }
  }

  & > p {
    color: var(--preto);
    font-size: var(--paragrafo);
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 50px;
  }
}
