
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 6%;


    
    & .conteudo-footer > div {
        display: flex;
        gap: 30px;
        
    }
     
    & .formulario-footer{
        & p{
            margin-bottom: 15px;

        }
        & input {
            width: 250px;
            height: 40px;
            border-radius: 20px;
            background-color:#333333 ;
            font-size: 18px;
            padding-left: 30px;
            margin-right: 25px;


        }
        
    }

    & h1 {
        margin-bottom: 44px;
        font-size: 24px;
    }

    
    & p {
        color: #ffffff;
    }
}