*{
    box-sizing: border-box;
    text-decoration:none;
    border: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.4s;
}

body {
    background-color: #2B2B2B ;
    
}

p {
    color: #686868;
}

section{
    padding: 0px 10%;
}

.conteudo {
    & a{
        background-color: var(--amarelo);
        color: var(--preto);
        padding: 10px 40px;
        border-radius: var(--radius-botao);

        &:hover{
            background-color: var(--roxo);
        }
    }
    & h2{
        font-size:var(--titulo);
        margin-bottom: 40px;

    }

    & p{
        font-size: var(--paragrafo);
        margin-bottom: 72px;
    }
}
h2:hover, p:hover{
    transform: scale(1.05);
}

img:hover{
    transform:scale(1.05) ;
}

.botao-roxo {
    background-color:#BFAFF2 ;
    color: #2B2B2B;
    padding: 10px 50px;
   border-radius:var(--radius-botao);
   
}
::-webkit-scrollbar{
    width:8px ;
}
::-webkit-scrollbar-thumb{
    background-color: var(--amarelo);
    border-radius: var(--radius-botao);

}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--roxo);

}

::-webkit-scrollbar-track{
    background-color: var(--preto);

}