#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:50px;

}

.ilustracao-home {
  background-color: var(--preto-claro);
  border-radius: 15px;
  width: 50%;
  
  

  &:hover {
    background-color: var(--roxo);
    transform: scale(1.05);
  }
  & img{
  
    width: 100%;

  }
}

  

