*{
    box-sizing: border-box;
    text-decoration:none;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #2B2B2B ;
    
}

p {
    color: #686868;
}

section{
    padding: 0px 10%;
}

header{
    
    padding: 30px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    & .botao-roxo{
        margin: 30px;
    }
}

#home{
    display: flex;
    justify-content: space-between;
    align-items:center;
    
}

.ilustracao-home { 
    background-color:#333333;
    border-radius: 15px;
    

}
.ilustracao-home img {
    width: 100%;

}

.conteudo {
    & a{
        background-color: #F8D57E;
        color: #2B2B2B;
        padding: 10px 40px;
        border-radius: 10px ;
    }
    & h2{
        font-size: 60px;
        margin-bottom: 40px;

    }

    & p{
        font-size: 18px;
        margin-bottom: 72px;
    }
}

.conteudo-patrocinadores {
    border-top: 2px solid #808080;
    border-bottom: 2px solid #808080;
    padding: 70px 0px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;

    & img{
        width: 80%;

    }

    
}

.ilustracao-sobre {
    background-color: #FDF5DF;
    border-radius: 15px;
    margin-bottom: 100px;

    & img{
        width: 100%;
    }
    
}

.beneficio {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    & div{
        padding: 10px 20px;
        width: 310px;
        text-align: center;
        & h2{
            font-size: 18px;
            margin: 30px 0px 10px 0px;
        }
        
    }

}


.bloco-depoimento { 
    
    background-color: #BFAFF2 ;
    padding: 83px 162px;
    border-radius: 10px;
    margin-bottom: 100px;

    & > div{
        display: flex;
        align-items: center;
         & img {
            margin-right: 20px;
         }

         & h3 {
            font-size: 18px;
            color: #808080;
            font-weight: 100;
         }
    }

    & > p{
        color: #2b2b2b;
        font-size: 24px;
        font-weight:500;
        line-height: 40px;
        margin-bottom: 50px;
    }
}

#contato {
    display: flex;
    justify-content: space-between;
    align-items:center;
    
}

.ilustracao-contato { 
    background-color:#333333;
    border-radius: 15px;
    

}
.ilustracao-contato img {
    width: 100%;

}



.conteudo-footer p {
    color: #ffffff;
}
 


.botao-roxo {
    background-color:#BFAFF2 ;
    color: #2B2B2B;
    padding: 10px 50px;
   border-radius: 10px ;
   
}


