:root {
  --preto: #2b2b2b;
  --preto-claro: #333333;
  --branco: #ffffff;
  --roxo: #bfaff2;
  --amarelo: #f8d57e;
  --amarelo-claro: #fdf5df;
  --cinza: #808080;
  --cinza-claro: #686868;

  --titulo: 60px;
  --titulo-mobile: 40px;
  --subtitulo: 24px;
  --subtitulo-mobile: 20px;
  --paragrafo: 18px;
  --paragrafo-mobile: 16px;

  --radius-botao: 30px;
  --radius-estrutura: 15px;
}
